<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="account.js"></script>
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div id='header'></div>
    <div id='account-details'>
        <p id='account-name'></p>
        <p id='account-fname'></p>
        <p id='account-lname'></p>
        <p id='account-events'></p>
    </div>
</body>
</html>