<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jquery.min.js"></script>
    <script src="home.js"></script>
    <link rel="stylesheet" href="main.css">
    <title>home page</title>
</head>
<body>
    <div id='header'></div>
    <div id='makeEvent'>
        <label for="eventName">Event Name:</label>
        <input type="text" name="eventName" id="eventName"> <br>
        <label for="eventTime">Event Time:</label>
        <input type="time" name="eventTime" id="eventTime"> <br>
        <label for="eventPlace">Place:</label>
        <input type="text" name="eventPlace" id="eventPlace"> <br>
        <button onClick='makeEvent()' id='submitEvent'>Create Event</button>
    </div>


    </div>
</body>
</html>