<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <div id=''></div>
    <div id='signIn'>

        <label for="username">username: </label>
        <input type="text" name="username" id="username"> <br>
        <label for="password">password: </label>
        <input type="password" name='password' id='password'> <br>
        <button id='signIn'>sign in</button>

    </div>
    <script src="client.js"></script>
</body>
</html>