<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div id="signUp" class="container">
      <h1>Sign Up</h1>

      <div class="formContents">
        <label for="Fname">First Name: </label>
        <input class="signupInput" type="text" id="Fname" name="FName" /> <br />

        <label for="Lname">Last Name: </label>
        <input class="signupInput" type="text" id="Lname" name="Lname" /> <br />

        <label for="signUsername">Username: </label>
        <input class="signupInput" type="text" id="signUsername" name="signUsername" /> <br />

        <label for="email">Email: </label>
        <input class="signupInput" type="email" name="email" id="email" /> <br />

        <label for="signPassword">Password: </label>
        <input class="signupInput" type="password" name="signPassword" id="signPassword" /> <br />

        <button id="signUpSubmit">Sign Up</button><br />

        <p>Already have an account? Log in <a href="login.html">here</a>.</p>
      </div>
    </div>

    <script src="client.js"></script>

  </body>
</html>
