/*Style.css file used by default in Index.html*/
body {
  background-color: #333333;
}

h1.title{
  position: relative;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

div.container {
  position: static;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 15px;
  background-color: #ffcc00;
  border-radius: 10px;

  content: "";
  clear: both;
  display: table;
}

div.formQuestion {
  position: relative;
  padding: 5px;
}

input.signupInput {
  position: static;
  float: right;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75px;
  height: 50px;
  border-radius: 40%;
  background-color: #eedd00;
  /*background-color: #aa7700;*/
  
}