/*Style.css file used by default in Index.html*/
body {
  background-color: gray;
}

div.container {
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 15px;
  background-color: red;
  border-radius: 10px;
}

input.signupInput {
  position: relative;
  margin: 5px;
}